{% extends 'menu/base.html' %}

{% block title %} - Menü{% endblock title %}

{% block content %}
<div class="container py-3">
  <div class="row">
    {% for category in categories %}
    <div class="col col-lg-3 col-6 position-relative p-2">
      <div
        class="category rounded img-thumbnail"
        style="background-image: url('{{ category.image.url }}');"
      ></div>
      <a
        class="category-link"
        href="{% url 'category' category_slag=category.slag %}"
      >
        <span class="h2">{{ category.name }}</span>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
