@media (prefers-color-scheme: dark) {
  :root {
    --bs-tertiary-bg: #2222222 !important;
    --bs-tertiary-bg-rgb: 34, 34, 34 !important;
    --bs-body-bg: #1111111;
    --bs-body-bg-rgb: 17, 17, 17;
  }
}

.category {
  display: block;
  height: auto;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}

.category-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.category-link span {
  position: absolute;
  display: block;
  width: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: white;
  text-shadow: 2px 2px 3px black;
}

@media screen and (width < 768px) {
  #desktop-search-container {
    display: none;
  }

  #bottom-navigation {
    display: block !important;
  }
}
